
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  border: none;
  border-radius: 6px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  background-color: #4f46e5; /* azul moderno */
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4338ca;
}

